@model Aplicacion.Web.Models.Asistencia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asistencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label"></label>
                <select asp-for="AlumnoId" class="form-control" asp-items="ViewBag.AlumnoId"></select>
                <span asp-validation-for="AlumnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocenteId" class="control-label"></label>
                <select asp-for="DocenteId" class="form-control" asp-items="ViewBag.DocenteId"></select>
                <span asp-validation-for="DocenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaseActivaId" class="control-label"></label>
                <select asp-for="ClaseActivaId" class="form-control" asp-items="ViewBag.ClaseActivaId"></select>
                <span asp-validation-for="ClaseActivaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
