@model string
@{
    ViewData["Title"] = "Registro de asistencia";
}

<div class="container text-center mt-5">
    <h2>@Model</h2>
    <a class="btn btn-primary mt-3" href="@Url.Action("Index", "Home")">Volver al inicio</a>
</div>
